{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name="symbol">
            <option disabled selected>Symbol</option>
            {% for symbol in symbols %}
                <option value="{{ symbol }}">{{ symbol }}</option>
            {% endfor %}
        </select>
        <input autocomplete="off" autofocus name="shares" placeholder="nr. of shares" type="text">
        <button type="submit">Sell</button>
    </form>
{% endblock %}