{% extends "layout.html" %}

{% block title %}
    Wallet
{% endblock %}

{% block main %}
    <form action="/wallet" method="post">
        <div>
            <select name="type">
                <option disabled selected>Cash</option>
                <option value="ADD">ADD</option>
                <option value="Withhdraw">Withdraw</option>
            </select>
            <input autocomplete="off" autofocus name="cash" placeholder="cash amount" type="text">
            <button type="submit">Submit</button>
        </div>
    </form>
{% endblock %}